Package: com.xiguarepo.repoicons
Name: 西瓜社区的源图标
Version: 1.0-1
Architecture: iphoneos-arm
Description: 西瓜社区的源图标
Depiction: https://xiguarepo.github.io/depictions/?p=com.xiguarepo.repoicons
Maintainer: cyr580 <cyr580@qq.com>
Author: cyr580 plplpmmmmh
Section: System
